* {
    box-sizing: border-box;
} 
body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

/* Contenedor */
.content {
    width: 100%;
    max-width: 100vw;
    height: auto;
}

/* Mapa */
#map {
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

/* Leyenda */
.legend{
    position:absolute;
    z-index: 100;

    bottom:10px;
    right: 10px;
}

.lengend__box{
    background-color: rgba(51, 51, 51, 0.7);

    padding: 20px 20px;
}

.legend__box--title{
    font-weight: 600;
    font-size: 13px;
    color: #fff;

    text-align: center;

    padding-bottom: 10px;
}

.legend__box--squares, .legend__box--numbers{
    display: flex;
    gap: 4px;
}

.legend__box--square--item, .legend__box--numbers--item{
    width: 50px;
    height: 8px;
}

.legend__box--numbers--item{
    margin-top: 4px;
    
    text-align: center;

    font-weight: 600;
    font-size: 13px;
    color: #fff;
}

.square1{
    background-color: #DFEFCA;
}

.square2{
    background-color: #B1CCA4;
}

.square3{
    background-color: #83AA7F;
}

.square4{
    background-color: #548759;
}

.square5{
    background-color: #266433;
}


/*Estilos de los filtros*/

.hidden{
    display:none;
}

.main__result{
    width: 100%;

    border-bottom: 1px solid #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__result--text{
    font-size: 16px;
    font-weight: 600;
    color: #fff;

    padding-bottom: 10px;
    padding-left: 8px;

    white-space: nowrap;        /* evita el salto de línea */
    overflow: hidden;           /* oculta el texto que se sale */
    text-overflow: ellipsis; 
}

.main__result--triangle {
    width: 0;
    height: 0;
    border: solid 10px;
    border-color: transparent transparent #fff transparent;

    transform:rotate(180deg);
}

.dropdown__menu--container {
   max-height:165px;
   overflow-y: scroll;

   width: 100%;
   max-width: 255px;

   scrollbar-width: none;
   -ms-overflow-style: none;
}

.dropdown__menu--container::-webkit-scrollbar {
  display: none;            
}

.dropdown__menu--item{
  height: 35px;
  line-height: 30px;
  
  font-size:16px;
  color: #fff;

  white-space: nowrap;        /* evita el salto de línea */
  overflow: hidden;           /* oculta el texto que se sale */
  text-overflow: ellipsis; 

  padding-left: 8px;
}

.checkBoxFilters{
    margin-top: 50px;
}

.checkBoxFilters--text{
    font-size: 16px;
    font-weight: 600;
    color: #fff;

    padding-bottom: 15px;
}

.mapCheckBoxes--item{
    display: block;

    color: #fff;
    font-size: 14px;

    padding-bottom: 8px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: #333;
  border: 1px solid #fff;
  margin: 0 8px 0 0;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Al hacer clic (checked) */
input[type="checkbox"]:checked {
  background-color: #fff;
}

/* Sin borde ni outline de foco */
input[type="checkbox"]:focus {
  outline: none;
}

.mobile__filters--btn{
    height: 30px;
    width: 150px;
    background-color: #fff;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 600;

    margin-left: 10px;
    margin-block: 10px;
}

.mobile__filters{
    width: 220px;

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;

}


@media(min-width:768px){
.filters{
    width: 255px;
    height: 100%;

    padding: 50px 30px;

    position: absolute;
    z-index: 100;

    background-color: rgba(51, 51, 51, 0.7);
}

.mobile__filters--btn{
    display: none;
}

.mobile__filters{
    display: none;
}
}





/* Tooltip del mapa */
.mapboxgl-ctrl-geocoder--input {
    font-size: 15px !important;
}

.mapboxgl-popup-content {
    font-family: 'Roboto';
    box-sizing: border-box;                
    pointer-events: none;
    background-color: #f6f6f6;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
    width: 164px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #f6f6f6;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #f6f6f6;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #f6f6f6;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #f6f6f6;
    }

.mapboxgl-popup .popup-content .popup-title {
    font-size: 15px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #000000;

    margin-bottom: 8px;
}

.mapboxgl-popup .popup-content .popup-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #000000;
    margin-bottom: 4px;
}





